@import "@styles/colors.module.scss";


.wrapper {
  font-family: "gopher", "GmarketSansMedium";
  width: 70%;
  min-width: 240px;
  line-height: 30px;
  margin-top: 12px;

  .container {
    input {
      width: 100%;
      background-color: transparent;
      padding: 12px;
      box-sizing: border-box;
      border: 1px solid $black;
    }
  }
}