@import "@styles/colors.module.scss";


.wrapper {
  font-family: 'gopher';
  width: 70%;
  min-width: 240px;
  margin-top: 24px;
  line-height: 30px;

  .container {
    display: table;
    border-collapse: collapse;
    width: 100%;

    .row {
      display: table-row;
      
      .item {
        display: table-cell;
        border: 1px solid $black;
        padding: 8px;
        text-align: center;
        width: 50%;

      }
    }
  }
}