$theme-main: #AB4733;
$green: #728165;
$black: #2D2B2B;
$yellow: #FBF588;
$ivory: #F2EDE5;
$main-background: $ivory;

$mint: #adddce;
$orange: #f0a35e;
$pastel-red: #ca7e8d;
$google: #4285f4;
$white: #ffffff;
$white-grey: #fcfcfc;
$light-grey: #cccccc;
$grey: #888888;
$corca-blue: #036eb7;
$corca-black: #211613;

:export {
  mint: $mint;
  green: $green;
  yellow: $yellow;
  orange: $orange;
  pastelRed: $pastel-red;
  google: $google;
  white: $white;
  whiteGrey: $white-grey;
  lightGrey: $light-grey;
  grey: $grey;
  black: $black;
  corcaBlue: $corca-blue;
  corcaBlack: $corca-black;
}
