$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

$header-height: 60px;

:export {
  breakpointMobile: $breakpoint-mobile;
  breakpointTablet: $breakpoint-tablet;
  breakpointDesktop: $breakpoint-desktop;
  headerHeight: $header-height;
}
