@import "@styles/colors.module.scss";
@import "@styles/constants.module.scss";
@import "@styles/mixins.scss";

.title {
  font-family: "soap";
  font-size: 2em;
  margin: 24px 0;
  text-align: center;
}

.image {
  width: 100vw !important;
  display: flex;
  overflow: auto;

  scroll-snap-type: x mandatory;

  & > div {
    scroll-snap-align: start;
  }

  img {
    width: 100vw;
  }
}

.price {
  font-family: "soap", "GmarketSansMedium";
  font-size: 1.2em;
  text-align: center;
  margin: 24px 0;
  color: $theme-main;

  .original {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    color: $grey;
  }
}

.description {
  width: 95vw !important;
  word-break: keep-all;
  font-size: 0.9em;
  font-family: "gopher", "GmarketSansMedium";
  margin-bottom: 36px;
  text-align: center;
  white-space: pre-wrap;
}

.donation {
  margin-top: 2px;
  margin-bottom: 24px;
  font-size: 12px;
}

.order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;

  .control {
    display: flex;
    align-items: center;
    justify-content: center;

    .cancel {
      margin-left: 12px;
    }
  }
}
