@import "@styles/colors.module.scss";
@import "@styles/constants.module.scss";
@import "@styles/mixins.scss";

.title {
  font-family: "soap";
  font-size: 2em;
  margin: 12px 0;
  text-align: center;
}

.image {
  width: 80vw;
  margin: 24px 0;

  img {
    width: 100%;
  }
}

.description {
  font-family: "gopher", "GmarketSansMedium";
  margin: 12px 0;
}

.donation {
  margin-top: 2px;
  margin-bottom: 24px;
  font-size: 12px;
}

.order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;

  .control {
    display: flex;
    align-items: center;
    justify-content: center;

    .cancel {
      margin-left: 12px;
    }
  }
}
