@import "@styles/colors.module.scss";
@import "@styles/mixins.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.header {
  // position: fixed;
  width: 100vw;
  background-color: $theme-main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .logo {
    margin: 24px 0;
    height: 70vh;
    max-height: 400px;
    padding: 0 40px;

    embed {
      height: 100%;
      width: 100%;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-family: "gopher";
    color: $ivory;

    a {
      color: $ivory;
      text-decoration: none;
    }

    .myOrder {
      margin: 8px;
    }
  }

  .choice {
    width: 80%;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    color: $white;

    & > * {
      margin: 4px;
      padding: 8px;
      font-size: 2.5em;
    }

    .active {
      opacity: 1;
    }
    .deactive {
      opacity: 0.7;
    }
  }
}

.notice {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "gopher", "GmarketSansMedium";
  padding-bottom: 40px;

  a {
    color: $black;
    text-decoration: none;
  }

  .title {
    font-size: 0.9em;
    font-weight: 600;
    margin-top: 4px;
  }
  .content {
    font-size: 0.75em;
  }
  .right {
    text-align: right;
  }
}
