@import "@styles/colors.module.scss";
@import "@styles/constants.module.scss";
@import "@styles/mixins.scss";

.container {
  padding-top: 15vh;

  hr {
    margin-top: 12px;
    border-top: 1px solid $black;

    &.bold {
      border-top-width: 2px;
    }
  }

  tbody {
    tr {
      width: 100%;

      &.total {
        font-family: "soap", "GmarketSansMedium";
        font-size: 1.5em;
      }
    }

    td {
      text-align: left;
    }
  }

  .check {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin: 12px;
  }

  .orderer {
    margin: 16px 0;

    .confirm {
      font-family: "soap";
      margin-bottom: 4px;
    }

    .row {
      margin-bottom: 12px;

      div:first-child {
        font-size: 0.8em;
      }
    }
  }
}