@import "@styles/colors.module.scss";


.wrapper {
  font-family: "gopher", "GmarketSansMedium";
  width: 70%;
  min-width: 240px;
  line-height: 30px;
  margin-top: 8px;

  .head {
    display: flex;
    justify-content: space-between;
  }

  .arrow {
    position: relative;
    top: 44px;
    right: 12px;
  }
  
  .container {
    select {
      width: 100%;
      background-color: transparent;
      padding: 12px;
      appearance: none;
      border: 1px solid $black;
    }
  }
}