@import "@styles/colors.module.scss";


.wrapper {
  display: flex;
  align-items: center;
  font-family: "gopher", "GmarketSansMedium";
  input {
    height: 30px;  
    width: 30px;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid $black;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }
}